@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

@import '../style/var.scss';
@import '../style/header.scss';

@import '../style/commans.scss';

body {
  font-family: 'Titillium Web', sans-serif !important;
}
.container {
  max-width: 1170px;
}
.banner-section {
  padding: 240px 0 145px;
  background: $bg-blue;
  height: 100vh;
  .banner-detail {
    text-align: center;
    h1 {
      color: #fff;
      text-align: center;
      font-weight: 700;
      margin: 0 0 20px;
    }
  }
}

.service-section {
  background-color: $bg-green;
  padding: 115px 0 130px;
  margin-top: 110px;
  .service-block {
    text-align: center;
    .serivce-img {
      text-align: center;
      margin: 0 auto;
    }
    .service-detail {
      h2 {
        color: $txt-white;
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 40px 0 20px;
      }
      p {
        color: $txt-white;
      }
    }
  }
}

@import '../style/footer.scss';