.btn-orange {
    border-radius: 8px;
    padding: 14px 20px;
    width: 290px;
    background: $bg-orange;
    font-weight: 400;
    border-bottom: 2px solid #c86a40;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $txt-white;
    text-decoration: none !important;
    border: 1px solid transparent;
    &:hover {
        color: $bg-orange;
        border-color: $bg-orange;
        background: transparent;
    }
}