.header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    background: $bg-blue;
    padding: 58px 0 20px;
    .navbar {
      padding: 0;
      .navbar-brand {
        padding: 0;
        margin: 0;
      }
      .nav-item {
        padding: 0 15px;
        .nav-link {
          font-size: 16px;
          line-height: 16px;
          color: #fff;
          padding: 10px 17px;
          &:hover {
            background: #643a79;
            border-radius: 10px;
            color: #fff;
          }
        }
      }
    }
}